@using Blog.Web.Consts;
@model List<RoleDto>


<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Rol Yönetimi /</span> Roller
    </h4>

    <hr class="my-5">

    <div class="card">
        <div class="table-responsive text-nowrap m-5">

            <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-dark">
                        <th>İsim</th>
                        <th>Soyad</th>
                        <th>Email</th>
                        <th>Rol</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr class="table-dark mb-3">
                        <th>Isim</th>
                        <th>Soyisim</th>
                        <th>Email</th>
                        <th>Rol</th>
                    </tr>
                </tfoot>
                
                <tbody class="table-border-bottom-0">
                    @foreach (var role in Model)
                    {
                        <tr name="@role.Id" class="table-primary">
                            <td>@role.FirstName</td>
                            <td>@role.LastName</td>
                            <td>@role.Email</td>
                            <td>@role.Role</td>
                        </tr>
                    }
                </tbody>

            </table>
           
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/roleIndex.js" type="application/ecmascript"></script>
}